header.page-header
  nav.page-header__nav.main-nav.main-nav--closed.main-nav--nojs
    div.main-nav__logo-wrapper
      a(href="#")
        picture.page-header__logo-picture
        source(media='(min-width: 1200px)', srcset='img/logotype-desktop.svg')
        source(media='(min-width: 768px)', srcset='img/logo-sedona-tablet.svg')
        img(src="img/logotype-mobile.svg", alt="Герб города Седона")

      button.main-nav__toggle(type='button' aria-label='Открыть/закрыть меню')

    ul.main-nav__list.site-list
      li.site-list__item
        a.site-list__link(href='../index.html') Главная
      li.site-list__item
        a.site-list__link(href='templates/photo.html') Фото и видео
      li.site-list__item
        a.site-list__link(href='form.html') Форма отзыва
      li.site-list__item
        a.site-list__link(href='https://htmlacademy.ru/') HTML Academy
      
              
